<html>  
<head>  
    <title>Employees</title>  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
</head> 
   <body>  
       <h3>Register the employee, fill the following form.</h3>  
      <form action = "http://127.0.0.1:5000/success" method = "POST">  
         <p>ID <input type = "text" name = "id" /></p>  
         <p>Email <input type = "email" name = "email" /></p>
         <p>Date of Birth <input type = "text" name = "dob" /></p>
         <p>Contact <input type = "text" name = "contact" /></p>  
         <p>Reporting Manager <input type ="text" name = "manager" /></p>  
         <p><input type = "submit" value = "submit" /></p>  
      </form>  
   </body>  
</html>  